
/* Articles */

.article-image {
  Height: 250px;
  Width: 250px;
  border-radius: 50%;
  margin-left: 20%;
  margin-right: 20%;
}

.contact-details {
  text-align: left;
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

.row {
  margin-bottom: 50px;
}

h4 {
  font-size: 50px;
}

h5 {
  font-size: 20px;
}
