body {
  font-family: courier;
}

/* Navbar */

.navbar {
  margin-bottom: 0px;
}

/* Jumbotron */

.jumbotron {
  text-align: right;
  background-image: url(https://static1.squarespace.com/static/568045695a5668eee10c9eb2/568156b427c80181bb16c889/5681580327c80181bb16de2a/1451318557306/?format=1500w);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -550px;
  color: white;
  min-height: 300px;
  max-height: 300px;
}

.jumbotron h1 {
  padding-top: 150px;
  font-size: 65px;
}

/* Headings */


h2 {
  Font-size: 80px;
  margin-top: 60px;
}

hr {
  color: black;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  h2 {
    font-size: 50px;
  }
}
